<a href="https://colab.research.google.com/github/TWOD22/Alura-Store-Challenge/blob/main/AluraStoreLatam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importación de datos

In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda1 = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda4

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Lavavajillas,Electrodomésticos,1084800.0,56000.0,11/11/2022,Rafael Acosta,Bogotá,4,Tarjeta de crédito,3,4.60971,-74.08175
1,Cama box,Muebles,473800.0,25400.0,03/01/2020,Izabela de León,Cúcuta,5,Tarjeta de crédito,2,7.89391,-72.50782
2,Balón de baloncesto,Deportes y diversión,23700.0,0.0,25/12/2022,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359
3,Modelado predictivo,Libros,57700.0,1300.0,23/11/2021,Lucas Olivera,Medellín,3,Nequi,1,6.25184,-75.56359
4,Auriculares,Electrónicos,138900.0,5600.0,25/04/2022,Blanca Ramirez,Bogotá,4,Tarjeta de crédito,7,4.60971,-74.08175
...,...,...,...,...,...,...,...,...,...,...,...,...
2353,Mesa de comedor,Muebles,227700.0,12600.0,12/02/2020,Camila Rivera,Medellín,5,Tarjeta de crédito,1,6.25184,-75.56359
2354,Silla de oficina,Muebles,342000.0,18600.0,17/05/2022,Felipe Santos,Bucaramanga,5,Tarjeta de crédito,3,7.12539,-73.11980
2355,Vaso térmico,Deportes y diversión,36700.0,2400.0,03/05/2022,Camila Rivera,Bogotá,5,Tarjeta de crédito,1,4.60971,-74.08175
2356,Set de ollas,Artículos para el hogar,151800.0,8300.0,15/06/2020,Blanca Ramirez,Cali,5,Tarjeta de crédito,1,3.43722,-76.52250
2357,Cuerda para saltar,Deportes y diversión,11200.0,1300.0,17/11/2021,Felipe Santos,Bogotá,5,Tarjeta de crédito,1,4.60971,-74.08175

In [3]:
tienda1.dtypes

Producto                   object
Categoría del Producto     object
Precio                    float64
Costo de envío            float64
Fecha de Compra            object
Vendedor                   object
Lugar de Compra            object
Calificación                int64
Método de pago             object
Cantidad de cuotas          int64
lat                       float64
lon                       float64
dtype: object

#1. Análisis de facturación

# **SUMA DE PRECIOS DE CADA TIENDA**

In [4]:
suma_precios_tienda_1 = tienda1['Precio'].sum()
print(f"El ingreso total de precios de la tienda 1 es de {suma_precios_tienda_1}.")
suma_precios_tienda_2 = tienda2['Precio'].sum()
print(f"El ingreso total de precios de la tienda 2 es de {suma_precios_tienda_2}.")
suma_precios_tienda_3 = tienda3['Precio'].sum()
print(f"El ingreso total de precios de la tienda 3 es de {suma_precios_tienda_3}.")
suma_precios_tienda_4 = tienda4['Precio'].sum()
print(f"El ingreso total de precios de la tienda 4 es de {suma_precios_tienda_4}.")

El ingreso total de precios de la tienda 1 es de 1150880400.0.
El ingreso total de precios de la tienda 2 es de 1116343500.0.
El ingreso total de precios de la tienda 3 es de 1098019600.0.
El ingreso total de precios de la tienda 4 es de 1038375700.0.

# 2. Ventas por categoría

In [5]:
categorias_tienda1 = tienda1['Categoría del Producto'].unique()
print("Categorías únicas en Tienda 1:")
print(categorias_tienda1)

Categorías únicas en Tienda 1:
['Electrónicos' 'Muebles' 'Juguetes' 'Electrodomésticos'
 'Artículos para el hogar' 'Deportes y diversión' 'Libros'
 'Instrumentos musicales']

# CATEGORIAS TIENDA 1

In [6]:
conteo_por_categoria_tienda1 = tienda1['Categoría del Producto'].value_counts()
categoria_popular_1 =conteo_por_categoria_tienda1.idxmax()
cantidad_popular_1 = conteo_por_categoria_tienda1[categoria_popular_1]
print("\nCantidad de productos vendidos por categoría en la Tienda 1:")
print(conteo_por_categoria_tienda1)
print(f"La categoria popular de la tienda 4 es: {categoria_popular_1} con {cantidad_popular_1} productos vendidos.")

Cantidad de productos vendidos por categoría en la Tienda 1:
Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes y diversión       284
Instrumentos musicales     182
Libros                     173
Artículos para el hogar    171
Name: count, dtype: int64
La categoria popular de la tienda 4 es: Muebles con 465 productos vendidos.

# CATEGORIAS TIENDA 2

In [7]:
conteo_por_categoria_tienda2 = tienda2['Categoría del Producto'].value_counts()
categoria_popular_2 =conteo_por_categoria_tienda2.idxmax()
cantidad_popular_2 = conteo_por_categoria_tienda2[categoria_popular_2]
print("\nCantidad de productos vendidos por categoría en la tienda 2:")
print(conteo_por_categoria_tienda2)
print(f"La categoria popular de la tienda 4 es: {categoria_popular_2} con {cantidad_popular_2} productos vendidos.")

Cantidad de productos vendidos por categoría en la tienda 2:
Categoría del Producto
Muebles                    442
Electrónicos               422
Juguetes                   313
Electrodomésticos          305
Deportes y diversión       275
Instrumentos musicales     224
Libros                     197
Artículos para el hogar    181
Name: count, dtype: int64
La categoria popular de la tienda 4 es: Muebles con 442 productos vendidos.

# CATEGORIAS TIENDA 3

In [8]:
conteo_por_categoria_tienda3 = tienda3['Categoría del Producto'].value_counts()
categoria_popular_3 =conteo_por_categoria_tienda3.idxmax()
cantidad_popular_3 = conteo_por_categoria_tienda3[categoria_popular_3]
print("\nCantidad de productos vendidos por categoría en la tienda 3:")
print(conteo_por_categoria_tienda3)
print(f"La categoria popular de la tienda 4 es: {categoria_popular_3} con {cantidad_popular_3} productos vendidos.")

Cantidad de productos vendidos por categoría en la tienda 3:
Categoría del Producto
Muebles                    499
Electrónicos               451
Juguetes                   315
Electrodomésticos          278
Deportes y diversión       277
Libros                     185
Instrumentos musicales     177
Artículos para el hogar    177
Name: count, dtype: int64
La categoria popular de la tienda 4 es: Muebles con 499 productos vendidos.

# CATEGORIAS TIENDA 4

In [9]:
conteo_por_categoria_tienda4 = tienda4['Categoría del Producto'].value_counts()
categoria_popular_4 =conteo_por_categoria_tienda4.idxmax()
cantidad_popular_4 = conteo_por_categoria_tienda4[categoria_popular_4]
print("\nCantidad de productos vendidos por categoría en la tienda 4:")
print(conteo_por_categoria_tienda4)
print(f"La categoria popular de la tienda 4 es: {categoria_popular_4} con {cantidad_popular_4} productos vendidos.")

Cantidad de productos vendidos por categoría en la tienda 4:
Categoría del Producto
Muebles                    480
Electrónicos               451
Juguetes                   338
Deportes y diversión       277
Electrodomésticos          254
Artículos para el hogar    201
Libros                     187
Instrumentos musicales     170
Name: count, dtype: int64
La categoria popular de la tienda 4 es: Muebles con 480 productos vendidos.

# 3. Calificación promedio de la tienda

# PROMEDIO TIENDA 1

In [10]:
suma_calificacion_tienda1 = sum(tienda1['Calificación'])
cantidad_calificaiones_tienda1 = len(tienda1['Calificación'])
promedio_calificacion_tienda1 = suma_calificacion_tienda1 / cantidad_calificaiones_tienda1
print(f'Con {cantidad_calificaiones_tienda1} calificaciones la tienda 1 tiene un promedio de claficación de: {promedio_calificacion_tienda1:.3f}.')

Con 2359 calificaciones la tienda 1 tiene un promedio de claficación de: 3.977.

# PROMEDIO TIENDA 2

In [11]:
suma_calificacion_tienda2 = sum(tienda2['Calificación'])
cantidad_calificaiones_tienda2 = len(tienda2['Calificación'])
promedio_calificacion_tienda2 = suma_calificacion_tienda2 / cantidad_calificaiones_tienda2
print(f'Con {cantidad_calificaiones_tienda2} calificaciones la tienda 2 tiene un promedio de claficación de: {promedio_calificacion_tienda2:.3f}.')

Con 2359 calificaciones la tienda 2 tiene un promedio de claficación de: 4.037.

# PROMEDIO TIENDA 3

In [12]:
suma_calificacion_tienda3 = sum(tienda3['Calificación'])
cantidad_calificaiones_tienda3 = len(tienda3['Calificación'])
promedio_calificacion_tienda3 = suma_calificacion_tienda3 / cantidad_calificaiones_tienda3
print(f'Con {cantidad_calificaiones_tienda3} calificaciones la tienda 3 tiene un promedio de claficación de: {promedio_calificacion_tienda3:.3f}.')

Con 2359 calificaciones la tienda 3 tiene un promedio de claficación de: 4.048.

# PROMEDIO TIENDA 4

In [13]:
suma_calificacion_tienda4 = sum(tienda4['Calificación'])
cantidad_calificaiones_tienda4 = len(tienda4['Calificación'])
promedio_calificacion_tienda4 = suma_calificacion_tienda4 / cantidad_calificaiones_tienda4
print(f'Con {cantidad_calificaiones_tienda4} calificaciones la tienda 4 tiene un promedio de claficación de: {promedio_calificacion_tienda4:.3f}.')

Con 2358 calificaciones la tienda 4 tiene un promedio de claficación de: 3.996.

# 4. Productos más y menos vendidos

# TIENDA 1

In [30]:
productos_tienda1 = tienda1['Producto'].value_counts()

#producto_mas_vendido1 = productos_tienda1.idxmax()
max_ventas = productos_tienda1.max()
producto_mas_vendido1 = productos_tienda1[productos_tienda1 == max_ventas]

min_ventas = productos_tienda1.min()
producto_menos_vendido1 = productos_tienda1[productos_tienda1 == min_ventas]


print(f'\nLos productos mas vendidos en la tienda 1 (con {max_ventas} unidades) son:')
print(producto_mas_vendido1)
print(f'\nLos productos menos vendidos en la tienda 1 (con {min_ventas} unidades) son:')
print(producto_menos_vendido1)

Los productos mas vendidos en la tienda 1 (con 60 unidades) son:
Producto
Microondas       60
TV LED UHD 4K    60
Armario          60
Name: count, dtype: int64

Los productos menos vendidos en la tienda 1 (con 33 unidades) son:
Producto
Auriculares con micrófono    33
Celular ABXY                 33
Name: count, dtype: int64

# TIENDA 2

# TIENDA 3

# TIENDA 4

# 5. Envío promedio por tienda